<div class="container">
  <div class="row">
    <div class="search-box mt-5">
      <form class="d-flex" (ngSubmit)="onFormSubmit()">
        <input
          (focus)="focus()"
          [formControl]="name"
          class="form-control me-2"
          type="search"
          placeholder="Search User"
          aria-label="Search User"
        />
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
      <div
        class="alert alert-danger mt-2"
        *ngIf="submit && name.invalid"
        role="alert"
      >
        User name is required!
      </div>
      <div
        class="alert alert-danger mt-2"
        *ngIf="submit && noUser"
        role="alert"
      >
        User not found!
      </div>
      <div
        class="alert alert-danger mt-2"
        *ngIf="submit && internet"
        role="alert"
      >
        Check your internet connection and try again!
      </div>
    </div>
  </div>
  <div class="row mt-5" *ngIf="submit && !noUser && !name.invalid && !internet">
    <div class="col-lg-4">
      <div id="image"></div>
      <p class="mt-2 mb-2 middle">{{ user?.login | notNull }}</p>
      <div class="row row-cols-2 text-al-cen">
        <div class="col">
          <p class="number">{{ user?.followers }}</p>
          <p>Followers</p>
        </div>
        <div class="col">
          <p class="number">{{ user?.following }}</p>
          <p>Following</p>
        </div>
        <div class="col">
          <p class="number">{{ user?.public_gists }}</p>
          <p>Public Gists</p>
        </div>
        <div class="col">
          <p class="number">{{ user?.public_repos }}</p>
          <p>Public Repos</p>
        </div>
      </div>
      <div class="other-info mb-5">
        <p class="mb-0"><b>User Full Name:</b> {{ user?.name | notNull }}</p>
        <p class="mb-0"><b>Type:</b> {{ user?.type | notNull }}</p>
        <p class="mb-0">
          <b>Site Admin:</b> {{ user?.site_admin ? "Yes" : "No" }}
        </p>
        <p class="mb-0"><b>Hireable:</b> {{ user?.hireable ? "Yes" : "No" }}</p>
        <p class="mb-0"><b>Location:</b> {{ user?.location | notNull }}</p>
        <p class="mb-0">
          <b>Created At:</b> {{ user?.created_at | date: "mediumDate" }}
        </p>
        <p class="mb-0">
          <b>Updated At:</b> {{ user?.updated_at | date: "mediumDate" }}
        </p>
        <p class="mb-0"><b>Company:</b> {{ user?.company | notNull }}</p>
        <p class="mb-0"><b>Email:</b> {{ user?.email | notNull }}</p>
        <p class="mb-0"><b>Bio:</b> {{ user?.bio | notNull }}</p>
      </div>
    </div>
    <div class="col-lg-8">
      <h3>Url Links</h3>
      <div *ngFor="let item of user | keyvalue">
        <div *ngIf="isLink(item.value)">
          <b>{{ item.key | urlLabel }}: </b>
          <a [href]="item.value" target="_blank">{{ item.value }}</a>
        </div>
      </div>
    </div>
  </div>
</div>
