<div class="container">
  <div class="row">
    <div class="alert alert-dark mt-5" role="alert">
      Welcome to GitHub.
      <ul class="mb-2">
        <li>Use 'Search' for search GitHub user.</li>
        <li>Use 'History' to check previous searches.</li>
      </ul>
      Project Structure
      <ul class="mb-2">
        <li>Components (Navbar)</li>
        <li>Interceptors (HttpErrorInterceptor)</li>
        <li>Pages (Dashboard, Serach, History)</li>
        <li>Pipes (notNull, urlLabel)</li>
        <li>Services (API)</li>
      </ul>
      Other
      <ul class="mb-2">
        <li>Application is responsive.</li>
      </ul>
      Developer Information
      <ul class="mb-2">
        <li>Name: Shivraj Bandekar</li>
        <li>Email: bandekarshivraj@gmail.com</li>
        <li>Mobile No: +91 8655866680</li>
      </ul>
    </div>
  </div>
</div>
